<h3>Welcome to Ebix Australia Client Management System!</h3>
<br/>
<div class="container">
    <div class="row">
        <!--<div class="col-md-6">
            <p style="text-align:justify">
                Ebix Australia is a wholly owned subsidiary of Ebix Inc, one of the leading international suppliers of software and e-commerce solutions to the insurance industry. Founded in 1976, Ebix strives to work collaboratively with clients throughout the world to develop innovative technology strategies and solutions that address specific business challenges.
            </p>
            <p style="text-align:justify">
                Ebix combines technology with our capabilities in applications software development, systems design and integration and consulting, to meet the individual needs of our clients. We are a global supplier of software solutions with offices in Australia, Canada, India, Brazil, New Zealand, UK, Singapore and the USA, employing insurance and technology professionals who provide products, support and consultancy to more than 3,000 customers on six continents.
            </p>
        </div>-->
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="row">Client ID</th>
                        <th colspan="2" class="table-active">Name</th>
                        <th>Address</th>
                        <th colspan="2" class="table-active">City</th>
                        <th>State</th>
                        <th colspan="2" class="table-active">Postcode</th>
                        <th>Country</th>
                        <th colspan="2" class="table-active">Update Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="table-active">
                            <button type="submit" class="btn btn-success" id="clienteditbtn">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" id="clientdeletebtn">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="table-active">
                            <button type="submit" class="btn btn-success" id="clienteditbtn">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" id="clientdeletebtn">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="table-active">
                            <button type="submit" class="btn btn-success" id="clienteditbtn">
                                Edit
                            </button>
                        </td>
                        <td><button type="submit" class="btn btn-danger" id="clientdeletebtn">
                            Delete
                        </button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
