<h3>Welcome to Ebix Australia Client Management System!</h3>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="row">Client ID</th>
                        <th colspan="2" class="table-active">Name</th>
                        <th>Address</th>
                        <th colspan="2" class="table-active">City</th>
                        <th>State</th>
                        <th colspan="2" class="table-active">Postcode</th>
                        <th>Country</th>
                        <th colspan="2" class="table-active">Update Details</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr *ngFor="let forecast of forecasts">
                        <td>{{ forecast.date }}</td>
                        <td>{{ forecast.temperatureC }}</td>
                        <td>{{ forecast.temperatureF }}</td>
                        <td>{{ forecast.summary }}</td>
                    </tr>-->
                    <tr>
                        <th scope="row">1</th>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="table-active">
                            <button type="submit" class="btn btn-success" id="clienteditbtn">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" id="clientdeletebtn">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="table-active">
                            <button type="submit" class="btn btn-success" id="clienteditbtn">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" id="clientdeletebtn">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td colspan="2" class="table-active">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="table-active">
                            <button type="submit" class="btn btn-success" id="clienteditbtn">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" id="clientdeletebtn">
                                Delete
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
